.new-currency{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: white;
}

/* ---------------------------- Header section ----------------------------- */
.add_header{
    height: 40px;
    background-color: rgb(3, 3, 71);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add_header h3{
    font-size: 13px;
    color: white;
    margin-left: 10px;
}
.add_header i{
    padding-right: 15px;
    color: white;
    cursor: pointer;
}
/* -------------------------------- search ------------------------------------ */
.search input{
    width: 98%;
    height: 30px;
    border: none;
    outline: none;
    border-bottom: .7px solid rgba(100, 99, 99, 0.575);
}