.new-currency{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: white;
}

/* ---------------------------- Header section ----------------------------- */
.add_header{
    height: 40px;
    background-color: rgb(3, 3, 71);
}
.add_header i{
    float: right;
    padding-right: 15px;
    padding-top: 15px;
    color: white;
    cursor: pointer;
}